<%- include("../partials/header") %> 


<h2>Welcome</h2>
<div class="row">
    <div class="d">
        <form action="/check-in" method="GET">
            <button id="btn-1" class="btn btn-large text-white mt-5" type="submit">Check-In </button>
        </form>
        <form action="/check-out" method="GET">
            <button class="btn btn-large text-white mt-5" type="submit">Check-Out</button>
        </form>
    </div>
</div>
<%- include("../partials/footer") %> 
